<!-- ===========================================================================================================
Original Author : Ashwini Lamsoge
Creation Date   : 29/07/2021
Project Name    : ATM RECONCILATION
Module Name	    : App
Page Name       : Login.html

Modify Author    -   Modify Date   -  Reason Of Modify
Ashwini  L       -   29/07/2021    - created UI.
================================================================================================================================== -->

<div class="float-container">

    <div class="float-child">
        <div class="form-block">
            <div class="text-center mb-5">
                <h1>Login</h1>

            </div>
            <div>
                <div class="form-group first">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" autocomplete="off" [(ngModel)]="txtUserCode" placeholder="Your User Code" id="username" (change)="checkUserName()">
                </div>
                <!-- <div class="form-group last mb-3"> -->
                <div class="form-group last mb-3">
                    <!-- <label for="password">Password</label>
          <input type="password" class="form-control" [(ngModel)]="txtPassword" placeholder="Your Password"
            id="password"> -->

                    <label for="password" class="Control-label--password">Password</label>

                    <input type="checkbox" id="show-password" class="form-control show-password" checked>
                    <label for="show-password" class="Control-label Control-label--showPassword">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32"
                height="32" class="svg-toggle-password" title="Toggle Password Security">
                <title>Hide/Show Password</title>
                <path
                  d="M24,9A23.654,23.654,0,0,0,2,24a23.633,23.633,0,0,0,44,0A23.643,23.643,0,0,0,24,9Zm0,25A10,10,0,1,1,34,24,10,10,0,0,1,24,34Zm0-16a6,6,0,1,0,6,6A6,6,0,0,0,24,18Z" />
                <rect x="20.133" y="2.117" height="44"
                  transform="translate(23.536 -8.587) rotate(45)" class="closed-eye" />
                <rect x="22" y="3.984" width="4" height="44"
                  transform="translate(25.403 -9.36) rotate(45)" style="fill:#fff"
                  class="closed-eye" />
              </svg>
            </label>

                    <input type="text" class="form-control ControlInput--password" [(ngModel)]="txtPassword" placeholder="Enter Password" autocomplete="off" autocapitalize="off" autocorrect="off" (paste)="onPaste()" spellcheck="false" (change)="checkPassword()">

                </div>
                <!-- <div class="d-sm-flex mb-2 align-items-center">

                  <span class="ml-auto" style="cursor: pointer;" (click)="changePassword()"><a class="change-pass">Change Password</a></span>
              </div> -->
                <div class="d-sm-flex mb-2 align-items-center">

                    <span class="ml-auto" style="cursor: pointer;" (click)="forgetPassword()"><a class="forgot-pass">Forgot Password</a></span>
                </div>
                <div class="capchaBox">
                    <div class="float-child2">
                        <div class="capchaTxt">
                            <svg viewBox="0 0 450 100">
                <path id="curve" fill="transparent"
                  d="M25,65C49.65,95,125.79,36.65,155.2,47.55,305.90,55.74,325,120.91,284,85c40.65,15.43,95.57-6.91,100-80" />
                <text x="40">
                  <textPath xlink:href="#curve">
                    {{mainCaptcha}}
                  </textPath>
                </text>
              </svg>
                        </div>
                    </div>
                    <div class="float-child1">
                        <div class="capchaTxt">
                            <button mat-icon-button matSuffix style="top: 0.2em;">
                <img src='assets/images/recaptcha.png' matTooltip="Reset Captcha" matTooltipPosition="above"
                  class="captchaImg" id="refresh" (click)="Captcha();"
                  style="background: #fff;border-radius: 10px; width: 40px;float:right">
              </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="Control-label" style="margin-bottom: 0px">Enter Captcha </label>
                    <input type="text" class="form-control ControlInput" type="text" #captcha name="captcha" [(ngModel)]="CaptChaModelValue" placeholder="Enter Captcha" maxlength="10" inputType='alphaNumeric' autocomplete="off" (paste)="onPaste()" autocorrect="off" autocapitalize="off"
                        spellcheck="false">
                </div>
                <div class="col-md-12">
                    <button (click)="checkLogin()" style="width:100%;padding:10px;" class="btn_Login">Sign In</button>
                </div>
                <!-- <input type="submit" (click)="checkLogin()" class="btn btn-block btn-primary"> -->
            </div>

        </div>
    </div>

    <div class="float-right">
        <img src='assets/images/bank1.png' />
    </div>
    <footer>

        <div class="container ">
            <!-- <div class="bottomleft">
            Copyright &copy;
            <script type="text/javascript">document.write(new Date().getFullYear());</script> Berar
            Finance Ltd. All
            rights reserved.
            </div> -->
            <div class="bottomright">
                Designed & Developed By
                <a href="https://vgipl.com/" style="vertical-align: super;"><img src="assets/images/vgipl_logo.png" style="height: 30px; margin: 0 10px 0 3px;"></a>

            </div>
        </div>

    </footer>
</div>

<!-- <div class="back-img" >
    <div class="container">
          <div class="form-block">
            <div class="text-center mb-5">
              <h3>Login to <strong>Four Way </strong>Reconciliation</h3>

            </div>
            <div>
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" [(ngModel)]="txtUserCode" placeholder="Your User Code"
                  id="username">
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" [(ngModel)]="txtPassword" placeholder="Your Password"
                  id="password">
              </div>
              <div class="d-sm-flex mb-5 align-items-center">
                
                <span class="ml-auto"><a class="forgot-pass">Forgot Password</a></span>
              </div>
              <div class="capchaBox">
                <div class="capchaTxt">
                  <svg viewBox="0 0 450 100">
                  <path id="curve" fill="transparent"
                    d="M25,65C49.65,95,125.79,36.65,155.2,47.55,305.90,55.74,325,120.91,284,85c40.65,15.43,95.57-6.91,100-80" />
                  <text x="40">
                    <textPath xlink:href="#curve">
                    {{mainCaptcha}}
                    </textPath>
                  </text>
                  </svg>
                </div>

                <button mat-icon-button matSuffix style="top: 0.2em;">
                  <img src='../../../../assets/images/recaptcha.png' matTooltip="Reset Captcha" matTooltipPosition="above"
                  class="captchaImg" id="refresh" (click)="Captcha();" style="background: #fff;border-radius: 10px; width: 10%;height:10%">
                </button>
                </div>
                <div class="form-group">
									<label class="Control-label"  style="margin-bottom: 0px">Enter Captcha </label>
									<input type="text" class="form-control ControlInput" type="text" #captcha name="captcha" [(ngModel)]="CaptChaModelValue"
										placeholder="Enter Captcha" maxlength="10" inputType='alphaNumeric' autocomplete="off" (paste)="onPaste()"
										autocorrect="off" autocapitalize="off" spellcheck="false">
								</div>
              <input type="submit" (click)="checkLogin()" class="btn btn-block btn-primary">
            </div>
           
          </div>
        </div>
      </div>
    
  -->