<div class="float-container">
    <div class="float-child">
        <div class="form-block">
            <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" autocomplete="off" [(ngModel)]="txtUserCode" placeholder="Your User Code"
                    id="username">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button (click)="checkLogin()" style="width:50%;padding:10px;" class="btn_Back">Back</button>
                </div>
                <div class="col-md-6">
                    <button (click)="submitPassword()" style="width:100%;padding:10px;" class="btn_Login">Submit</button>
                </div>
            </div>

        </div>
    </div>
    <div class="float-right">
        <img src='../../../../assets/images/bank1.png' />
    </div>
</div>





