.float-container{
    background-image: linear-gradient(315deg, #515f6e 60%, #A2B29F 0%);
    height:100%;
}

.float-right {
        width: 50%;
        float: right;
        padding: 90px 0 0 103px;
    }

.float-child {
width: 50%;
float: left;
padding: 40px 0 0 103px;
}


.form-block{
    border-radius: 16px;
    margin-top: 110px;
    }

    .btn_Login
    {
    color:#fff!important;
    background-color: #464F41;
    font-size: 20px;
    border-radius: 5px;
    }

    .btn_Back{
        color:#fff!important;
        background-color: #464F41;
        font-size: 20px;
        border-radius: 5px;
    }