<!-- ===========================================================================================================
Original Author : Akshay Borje
Creation Date   : 29/07/2021
Project Name    : ATM RECONCILATION
Module Name	    : auto-reconcilation
Page Name       : on-us-reconcilation.html

Modify Author   -   Modify Date   - Reason Of Modify
Akshay B        -   30/07/2021    - created UI.
Akshay B        -   03/08/2021    - done model binding
================================================================================================================================== -->

<div class="container py-4">
    <div class="card border-3">
        <div class="card-body">
            <header class="bg-top bg-gradient text-white">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <h3>On Us Reconcilation(CBS, SWITCH, EJ LOG)</h3>
                    </div>
                </div>
            </header>
            <div class="container mt-2">
                <div>
                    <div class="row justify-content-start">
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="transDate" class="form-label">Transaction Date :</label>
                                <input type="date" class="form-control" id="transDate" [(ngModel)]="dtTransactionDate">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="reconBaseDate" class="form-label">Reconcilation Base Date :</label>
                                <input type="date" class="form-control" id="reconBaseDate"
                                    [(ngModel)]="dtReconbaseDate">
                            </div>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn bg-top" (click)="processOnUsRecon()">Process</button>
                        <button type="reset" class="btn bg-top mx-2">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>