<!-- ===========================================================================================================
Original Author : Diksha Shelokar
Creation Date   : 29/07/2021
Project Name    : ATM RECONCILATION
Module Name	    : App
Page Name       : menu-creation.html

Modify Author    -   Modify Date   -  Reason Of Modify
Dikshas          -   27/08/2021    - Created UI
================================================================================================================================== -->


<div style="text-align: center;">
   <img style="height:550px;" src="assets/images/Work.jpg" />
   
</div>
