<!-- ===========================================================================================================
Original Author : Akshay Borje
Creation Date   : 29/07/2021
Project Name    : ATM RECONCILATION
Module Name	    : manual-reconcilation
Page Name       : posted-unposted-entries.html

Modify Author   -   Modify Date   - Reason Of Modify
Akshay B        -   30/07/2021    - created UI.
================================================================================================================================== -->

<div class="container py-4">
    <div class="card border-3">
        <div class="card-body">
            <header class="bg-top bg-gradient text-white">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <h3>Posted-Unposted Entries</h3>
                    </div>
                </div>
            </header>
            <div class="container mt-2">
                <div>
                    <div class="row justify-content-start">
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="reconBaseDate" class="form-label">Reconcilation Base Date :</label>
                                <input type="date" class="form-control" id="reconBaseDate"
                                    [(ngModel)]="dtReconbaseDate">
                            </div>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn bg-top mx-2">Show</button>
                        <button type="submit" class="btn bg-top"
                            (click)="processPostedUnpostedEntries()">Process</button>
                        <button type="submit" class="btn bg-top mx-2">Download</button>
                        <button type="reset" class="btn bg-top">Clear</button>
                    </div>
                    <br>
                    <div class="row justify-content-start">
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="lengthOfRecordFile" class="form-label text-success">Total Unposted Entries
                                    : {{lblTotalUnpostedEntries}}</label>
                            </div>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="lengthOfRecordFile" class="form-label text-success">Total Unposted Amount
                                    : {{lblTotalUnpostedAmount}}</label>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="mb-3">
                                <label for="lengthOfRecordFile" class="form-label text-danger">Selected Unposted Entries
                                    : {{lblSelectedUnpostedEntries}}</label>
                            </div>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="lengthOfRecordFile" class="form-label text-danger">Selected Unposted Amount
                                    : {{lblSelectedUnpostedAmount}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>